.example-container {
    width: 1200px;
    height: 500px;
    margin: 10px;
    border: 5px solid rgb(165, 121, 165);
    align-self: center;
    
  }
  
  .h1{
    color:blueviolet;
    font-style: italic;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
    .p
    {
      color:palevioletred;
      font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
      text-align: left;
  
    }
    
    
  .button
  {
    align-self: flex-start
  }
  
  
  .tab {position:absolute;right:70px; }
  .tab1 {position:absolute;right:10px; }